<h2>Clio + Calliope Payments Invitation</h2>
<h3>Dear <%= @customer.contact_name %>,</h3>

<p>Thank you for doing business with Clio + Calliope.  You can pay for invoices using a credit card through our mini-app for payments which uses <a href="https://stripe.com/us/features#seamless-security" target="_blank">Stripe's</a> secure system.  Sign up is fast and easy using your Facebook account.</p>

<p><em>You can rest assured; none of your credit card information will ever be stored on our servers.</em></p>

<%= link_to 'Sign in with Facebook', signin_url, class: 'myButton' %>

<p>Once you create an account, we will link it to your customer account and you can begin paying invoices!</p>

<p><strong>Thank you for your business.</strong></p>
<p>
  Sia Karamalegos, Clio + Calliope Web Development
</p>

