<p>Dear <%= @customer.contact_name %>,</p>
<p>Your Clio + Calliope Payments customer account is now linked with your Facebook login (for <%= @user.name %>).  You can now see invoices available for payment when you log in.</p>
<p><%= link_to 'Log In Now', signin_url %></p>
<p><strong>Thank you for your business.</strong></p>
<p>
  Sia Karamalegos, Clio + Calliope Web Development
</p>