<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to fa_icon('sign-out', text: 'Sign out'), signout_path %></li>
  <li><%= image_tag current_user.small_image %></li>
<% else %>
  <li><%= link_to fa_icon('sign-in', text: 'Sign in with Facebook'), signin_path %></li>
<% end %>
